/* css para o contacto */

/* Contentor do link de voltar */
.back-link-container {
    text-align: center; 
    margin-top: 40px;
}

/* O link em si */
.back-link {
    color: #888; 
    text-decoration: none; 
    border-bottom: 1px solid #888; 
    padding-bottom: 2px;
    font-size: 0.95rem;
    transition: color 0.3s, border-color 0.3s;
}

.back-link:hover {
    color: var(--gold);
    border-color: var(--gold);
}

.logo-link {
    text-decoration: none;
    color: var(--gold);
}

.logo-link span {
    color: white;
}