
/* css para os favoritos */

.fav-main {
    margin-top: 140px;
    padding-bottom: 60px;
}

.fav-empty-msg {
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
}

/* Grelha de Favoritos (usa estrutura da home) */
.fav-grid {
    margin-top: 40px;
}